html {
    margin: auto;
    color: #002244;
    font-family: OCR A Std, monospace; /*Caflisch Script Pro, cursive;*/
    font-size: 40pt;
}

body {
    margin: auto;
    vertical-align: middle;
    background-color: #8888FF;
    /*background-image: url(/img/ones-and-zeros.png);*/
}

.backgroundImages {
  width: 1250;
}

table {
  margin: auto;
  border-spacing: 5px;
  border-collapse: separate;
  background-color: white;
}

th {
  margin: auto;
  padding: 10px;
  background-color: #002244;
  color: white;
}
th:hover {background-color: #003366;}/* mouse over link */

a {
    color: #002244;
  }

.headLinks {
  color: white;
  text-decoration: none
}

h1 {
  text-align: center;
  margin: auto;
  padding: 10px;
  color: white;
  background: #003366;
}

.body {
  margin: auto;
  text-align: left;
  padding: 20px;
}

.myTables {
  padding: 10px;
  background: #8888FF;
  color: #002244;
  border-spacing: 20px;
  border-collapse: separate;
}

.error {
	color: red;
	text-align: left;
}

.correct {
	color: green;
	text-align: left;
}

#map {
  height: 60%;
  width: 1262;
  margin: auto;
}
