body {
	background-color: #FFCC66;
}
h1 {
	text-align: center;
	color: #990000;
	background-color: #FC9804;
}
h2 {
	color: #990000;
	text-align: center;
}
p {
	text-align: center;
}

th {
	color: #990000;
	background-color: #FC9804;
}

.error {
	color: red;
	text-align: left;
}
