<html lang="en">
  <head>
    <title> Chat </title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <table>
      <tr>
        <td colspan="6"><img src="/img/head.jpg" class="backgroundImages" alt="head"></td>
      </tr>

      <tr>
        <th><a class="headLinks" href="/main/?lang=en">Main</a></th>
        <th><a class="headLinks" href="/register/?lang=en">Register</a></th>
        <th><a class="headLinks" href="/register/login/?lang=en">Login</a></th>
        <th><a class="headLinks" href="/webservices/map/?lang=en">Map</a></th>
        <th><a class="headLinks" href="/chat/?lang=en"> Chat </a></th>
        <form method="get">
          <th>
            Language <select name="lang" onchange="this.form.submit();">
                        <option value="es">Español</option>
                        <option selected value="en">English</option>
                        <option value="eus">Euskara</option>
                      </select>
          </th>
        </form>
      </tr>

      <tr>
        <td colspan="6">
          <h1>CHAT</h1>
        </td>
      </tr>

      <tr>
        <td colspan="6">
          <div class="body" height="200">
            <!-- HERE START'S THE CONTENT -->
            {% for shout in shouts %}
              {% ifequal shout.who '' %}
                Anonymous: {{shout.message}}
              {% else %}
                {{shout.who}}: {{shout.message}}
              {% endifequal %}
              <br>
            {% endfor %}

          <form action="" method="post" accept-charset="utf-8">
            <p>From:
              <input type="text" name="who" value="" id="who">
            </p>
            <p>Message:
              <input type="text" name="message" value="" id="message">
            </p>
            <p>
              <input type="submit" value="Send">
            </p>
          </form>


          <br><br><br>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="6"><img src="/img/tail.jpg" class="backgroundImages" alt="tail"></td>
    </tr>
  </table>
</body>
</html>
